extends ./layout

block content
  h2= title
    
  form(action="/", method="post")
    div
        label(for="title") Title:
        input(type="text", name="title" value=book.title)
    div
        label(for="author") Author:
        input(type="text", name="author" value=book.author)
    div
        label(for="year") year:
        input(type="number", name="year" value=book.title)

    input(type="submit")
